In [1]:
import pandas as pd
import numpy as np

In [2]:
obje=pd.Series(np.arange(5),index=["a","b","c","d","e"])

In [3]:
obje

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [4]:
obje["b"] # b indeksine ne geliyo

1

In [6]:
obje.iloc[1] # iloc olmazas ileriki sürümlerde çalışmaya bilir

1

In [8]:
obje[2:4] # istediğimiz indexi yazdık o satır geldi

c    2
d    3
dtype: int32

In [9]:
obje[["a","c"]] # buda olur

a    0
c    2
dtype: int32

In [10]:
obje[obje<3]

a    0
b    1
c    2
dtype: int32

In [12]:
 obje["b":"c"]=5 # b den c ye kadar olanları 5 olarak değiştirdi

In [13]:
obje

a    0
b    5
c    5
d    3
e    4
dtype: int32

In [14]:
veri = pd.DataFrame(np.arange(16).reshape(4,4), index=["ankara","bursa","istanbul","izmir"],
                    columns=["bir","iki","üç","dört"])
veri

          bir  iki  üç  dört
ankara      0    1   2     3
bursa       4    5   6     7
istanbul    8    9  10    11
izmir      12   13  14    15

In [15]:
veri["iki"]

ankara       1
bursa        5
istanbul     9
izmir       13
Name: iki, dtype: int32

In [25]:
df=pd.DataFrame(veri)
df

          bir  iki  üç  dört
ankara      0    1   2     3
bursa       4    5   6     7
istanbul    8    9  10    11
izmir      12   13  14    15

In [26]:
sütun=["bir","iki"]
df[sütun]

          bir  iki
ankara      0    1
bursa       4    5
istanbul    8    9
izmir      12   13

In [27]:
veri[["bir","iki"]] # üstteki uzun yol bu kısa bu sütunlar için

          bir  iki
ankara      0    1
bursa       4    5
istanbul    8    9
izmir      12   13

In [28]:
veri[:3] # bu satırlar için

          bir  iki  üç  dört
ankara      0    1   2     3
bursa       4    5   6     7
istanbul    8    9  10    11

In [29]:
veri[veri["dört"]>5]

          bir  iki  üç  dört
bursa       4    5   6     7
istanbul    8    9  10    11
izmir      12   13  14    15

In [30]:
veri[veri<8]=0 # 8 den küçükler için 0 yaz

In [31]:
veri

          bir  iki  üç  dört
ankara      0    0   0     0
bursa       0    0   0     0
istanbul    8    9  10    11
izmir      12   13  14    15

In [32]:
veri.iloc[1,[1,2,3]] # birinci satırın ilk üç sütununu aldı

iki     0
üç      0
dört    0
Name: bursa, dtype: int32

In [34]:
veri.iloc[[1,2],[1,2]] # 1.ve2.satırın 1 ve 2. sütununu yazdık

          iki  üç
bursa       0   0
istanbul    9  10

In [35]:
veri.loc["bursa",["bir","iki"]] # bursanın bir ve iki yazan sütunlarını aldı

bir    0
iki    0
Name: bursa, dtype: int32