In [3]:
import pandas as pd ; import numpy as np

In [4]:
veri=pd.Series(["ali","efe","ali","ali"]*3)

In [5]:
veri

0     ali
1     efe
2     ali
3     ali
4     ali
5     efe
6     ali
7     ali
8     ali
9     efe
10    ali
11    ali
dtype: object

In [6]:
pd.unique(veri)
# tekrar edenleri bir kez görüntüle

array(['ali', 'efe'], dtype=object)

In [7]:
pd.value_counts(veri)
# tekrar sayısını gösterir

C:\Users\ibrahim\AppData\Local\Temp\ipykernel_16292\3944336502.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(veri)

ali    9
efe    3
Name: count, dtype: int64

In [8]:
degerler=pd.Series([0,1,0,0]*3)
degerler

0     0
1     1
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     1
10    0
11    0
dtype: int64

In [9]:
adlar=pd.Series(["ali","efe"])
adlar.take(degerler)
# adlar ile degerleri eşleştirdik
# 0 ali 1 efeye eşleniyor

0    ali
1    efe
0    ali
0    ali
0    ali
1    efe
0    ali
0    ali
0    ali
1    efe
0    ali
0    ali
dtype: object

In [10]:
N=len(veri)

In [11]:
df=pd.DataFrame({"isim":veri,
                "no":np.arange(N),
                "not":np.random.randint(40,100,size=N),
                "kilo":np.random.uniform(50,70,size=N)},
               columns=["no","isim","not","kilo"])
df

    no isim  not       kilo
0    0  ali   71  66.288827
1    1  efe   88  55.253002
2    2  ali   79  69.980682
3    3  ali   93  52.445796
4    4  ali   84  69.060721
5    5  efe   64  63.159939
6    6  ali   45  59.491462
7    7  ali   63  62.920677
8    8  ali   76  57.881501
9    9  efe   46  66.952307
10  10  ali   49  65.244129
11  11  ali   94  66.303599

In [12]:
type(df["isim"])

pandas.core.series.Series

In [13]:
isim_kategorisi=df["isim"].astype("category")
# tipi değiştirdik

In [14]:
isim_kategorisi

0     ali
1     efe
2     ali
3     ali
4     ali
5     efe
6     ali
7     ali
8     ali
9     efe
10    ali
11    ali
Name: isim, dtype: category
Categories (2, object): ['ali', 'efe']

In [15]:
x = isim_kategorisi.values

In [16]:
x.categories

Index(['ali', 'efe'], dtype='object')

In [17]:
x.codes

array([0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [18]:
df.isim

0     ali
1     efe
2     ali
3     ali
4     ali
5     efe
6     ali
7     ali
8     ali
9     efe
10    ali
11    ali
Name: isim, dtype: object

In [20]:
veri_kat=pd.Categorical(list("abcde"))

In [21]:
veri_kat

['a', 'b', 'c', 'd', 'e']
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [22]:
["muz","elma","kivi","muz","elma"]

['muz', 'elma', 'kivi', 'muz', 'elma']

In [23]:
pd.Categorical(["muz","elma","kivi","muz","elma"])

['muz', 'elma', 'kivi', 'muz', 'elma']
Categories (3, object): ['elma', 'kivi', 'muz']

In [25]:
insanlar=["bebek","cocuk","genc","yasli"]
kodlar=[0,1,2,3,1,0,0]
insan_kat=pd.Categorical.from_codes(kodlar,insanlar)
insan_kat

['bebek', 'cocuk', 'genc', 'yasli', 'cocuk', 'bebek', 'bebek']
Categories (4, object): ['bebek', 'cocuk', 'genc', 'yasli']

In [27]:
insan_kat=pd.Categorical.from_codes(kodlar,insanlar,ordered=True)
insan_kat
# kategorik olarak sıralama

['bebek', 'cocuk', 'genc', 'yasli', 'cocuk', 'bebek', 'bebek']
Categories (4, object): ['bebek' < 'cocuk' < 'genc' < 'yasli']

In [28]:
insa_kat.as_ordered()
# kategorik olarak sıralama

['bebek', 'cocuk', 'genc', 'yasli', 'cocuk', 'bebek', 'bebek']
Categories (4, object): ['bebek' < 'cocuk' < 'genc' < 'yasli']

In [39]:
data=np.random.randn(1000)

In [40]:
ara=pd.qcut(data,4)
ara

[(-0.711, -0.0506], (-0.711, -0.0506], (-3.158, -0.711], (-3.158, -0.711], (-3.158, -0.711], ..., (-3.158, -0.711], (-0.0506, 0.648], (-3.158, -0.711], (-3.158, -0.711], (-3.158, -0.711]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.158, -0.711] < (-0.711, -0.0506] < (-0.0506, 0.648] < (0.648, 3.205]]

In [41]:
type(ara)

pandas.core.arrays.categorical.Categorical

In [43]:
ara=pd.qcut(data,4,labels=["Q1","Q2","Q3","Q4"])
ara

['Q2', 'Q2', 'Q1', 'Q1', 'Q1', ..., 'Q1', 'Q3', 'Q1', 'Q1', 'Q1']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [44]:
ara=pd.Series(ara,name="ceyrek")

In [45]:
pd.Series(data).groupby(ara).agg(["count","min","max"]).reset_index()

C:\Users\ibrahim\AppData\Local\Temp\ipykernel_16292\2859504933.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pd.Series(data).groupby(ara).agg(["count","min","max"]).reset_index()

  ceyrek  count       min       max
0     Q1    250 -3.156544 -0.712151
1     Q2    250 -0.710503 -0.054790
2     Q3    250 -0.046503  0.647905
3     Q4    250  0.648256  3.204566

In [46]:
N=10000000
say=pd.Series(np.random.randn(N))
etiket=pd.Series(["a","b","c","d"]*(N//4))
kat=etiket.astype("category")

In [47]:
etiket.memory_usage()
# kullanılan bellek boyutunu bayt cinsinden yazar
# 1024 bölersen mb bulursun bu 76 mb

80000132

In [48]:
kat.memory_usage()

10000336

In [49]:
s=pd.Series(["a","b","c","d"]*2)
s_kat=s.astype("category")
# Bu kod, bir Pandas Serisi olan s değişkenini kategorik bir değişkene dönüştürür.
# Kategorik değişkenler, belirli bir kategorideki farklı değerleri temsil eden veri türleridir.
# Bu dönüşüm, veri üzerinde bazı işlemleri gerçekleştirmek için kullanışlıdır ve bellek kullanımını optimize edebilir
s_kat

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [50]:
s_kat.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8