In [1]:
"selam".upper()

'SELAM'

In [3]:
import pandas as pd ; import numpy as np

In [4]:
veri=["ali","Berk","DENiz",np.nan,"zEYNEP"]

In [5]:
isim=pd.Series(veri)

In [6]:
isim.str.capitalize()
# ilk harfleri büyütür

0       Ali
1      Berk
2     Deniz
3       NaN
4    Zeynep
dtype: object

In [7]:
isim.str.lower()
# isimler küçük harflere dönü

0       ali
1      berk
2     deniz
3       NaN
4    zeynep
dtype: object

In [8]:
isim.str.len()
# her bir isim kaç harf

0    3.0
1    4.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [9]:
df=pd.DataFrame(np.random.randn(3,2),
                columns=["Sutun A","Sutun B"],
                index=range(3))
df

    Sutun A   Sutun B
0 -0.856680  0.318133
1  0.305847  0.208111
2  1.158156  1.196783

In [10]:
df.columns

Index(['Sutun A', 'Sutun B'], dtype='object')

In [11]:
df.columns.str.lower()

Index(['sutun a', 'sutun b'], dtype='object')

In [12]:
df.columns.str.lower().str.replace("","_")
# aradaki boşluk yerine tire koyuyor

Index(['_s_u_t_u_n_ _a_', '_s_u_t_u_n_ _b_'], dtype='object')

In [13]:
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [14]:
s.str.split("_")
# _ göre ayırdık

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [15]:
s.str.split("_").str.get(1)
# değerlerin birinci indexlerini yazdırdım

0      b
1      d
2    NaN
3      g
dtype: object

In [16]:
s.str.split("_").str[1]
# aynı işlem yukardaki ile

0      b
1      d
2    NaN
3      g
dtype: object

In [17]:
s.str.split("_",expand=True)
# veriyi dataframe şekline döndürdük

     0    1    2
0    a    b    c
1    c    d    e
2  NaN  NaN  NaN
3    f    g    h

In [22]:
s.str.split("_",expand=True,n=1)
# n=1 parametresi, str.split() yönteminin kaç parçaya böleceğini belirler.
# Bu parametre, yalnızca ilk n adet ayırma işlemi gerçekleştirileceğini belirtir.
# Yani, eğer n=1 olarak ayarlanırsa, yalnızca ilk alt çizgiyi kullanarak dizi sadece bir kez bölünecektir.
# Örneğin, "abc_def_ghi_jkl_mno" gibi bir dizeyi "_" karakterine göre böldüğümüzü düşünelim.
# Eğer n değeri 1 olarak ayarlanmışsa, sadece ilk alt çizgiyi göz önünde bulundurur.
# Sonuçta, dize iki parçaya bölünecektir: ["abc", "def_ghi_jkl_mno"].
#Bu parametre, eğer bir dizede birden fazla ayracın bulunduğu durumlarda, sadece belirli bir sayıda bölme yapılmasını sağlamak için kullanışlıdır.

     0    1
0    a  b_c
1    c  d_e
2  NaN  NaN
3    f  g_h

In [23]:
para = pd.Series(["15","-€20","€30000"])
para

0        15
1      -€20
2    €30000
dtype: object

In [24]:
para.str.replace("€","")
# -€ yazarsak bu kalkmaz onu alttaki gibi yapmalıyız

0       15
1      -20
2    30000
dtype: object

In [26]:
para.str.replace(r"-€", "")

0        15
1        20
2    €30000
dtype: object

In [31]:
film=pd.read_csv("ratings.txt")
film.head()

,position,const,created,modified,description,Title,Title type,Directors,You rated,IMDb Rating,Runtime (mins),Year,Genres,Num. Votes,Release Date (month/day/year),URL
0,1,tt2872718,Sat Dec 31 00:00:00 2016,NaN,NaN,Nightcrawler,Feature Film,Dan Gilroy,8,7.9,117.0,2014,"crime, drama, thriller",311885,2014-09-05,http://www.imdb.com/title/tt2872718/
1,2,tt1260502,Fri Dec 30 00:00:00 2016,NaN,NaN,Ghost in the Shell 2.0,Feature Film,Mamoru Oshii,7,8.0,83.0,2008,"animation, action, crime, drama, sci_fi",10196,2008-07-12,http://www.imdb.com/title/tt1260502/
2,3,tt0944947,Fri Dec 30 00:00:00 2016,NaN,NaN,Game of Thrones,TV Series,NaN,10,9.5,56.0,2011,"adventure, drama, fantasy, romance",1095188,2011-04-17,http://www.imdb.com/title/tt0944947/
3,4,tt0367594,Fri Dec 30 00:00:00 2016,NaN,NaN,Charlie and the Chocolate Factory,Feature Film,Tim Burton,6,6.7,115.0,2005,"adventure, comedy, family, fantasy",331238,2005-07-10,http://www.imdb.com/title/tt0367594/
4,5,tt0317219,Fri Dec 30 00:00:00 2016,NaN,NaN,Cars,Feature Film,"John Lasseter, Joe Ranft",7,7.2,117.0,2006,"animation, adventure, comedy, family, sport",272829,2006-03-14,http://www.imdb.com/title/tt0317219/

In [36]:
film.Genres.str.upper()
# film dataframede olan genreslerin harflerini büyüttü

0                           CRIME, DRAMA, THRILLER
1          ANIMATION, ACTION, CRIME, DRAMA, SCI_FI
2               ADVENTURE, DRAMA, FANTASY, ROMANCE
3               ADVENTURE, COMEDY, FAMILY, FANTASY
4      ANIMATION, ADVENTURE, COMEDY, FAMILY, SPORT
                          ...
504                                DRAMA, THRILLER
505                                         COMEDY
506                                     DRAMA, WAR
507                       DRAMA, MYSTERY, THRILLER
508                             DOCUMENTARY, SPORT
Name: Genres, Length: 509, dtype: object

In [37]:
film.columns
# filmdeki sutunlar:

Index(['position', 'const', 'created', 'modified', 'description', 'Title',
       'Title type', 'Directors', 'You rated', 'IMDb Rating', 'Runtime (mins)',
       'Year', 'Genres', 'Num. Votes', 'Release Date (month/day/year)', 'URL'],
      dtype='object')

In [46]:
film.columns=film.columns.str.capitalize()
# sütunların ilk harflerini büyüttük

In [45]:
film.head()

,Position,Const,Created,Modified,Description,Title,Title type,Directors,You rated,Imdb rating,Runtime (mins),Year,Genres,Num. votes,Release date (month/day/year),Url
0,1,tt2872718,Sat Dec 31 00:00:00 2016,NaN,NaN,Nightcrawler,Feature Film,Dan Gilroy,8,7.9,117.0,2014,"crime, drama, thriller",311885,2014-09-05,http://www.imdb.com/title/tt2872718/
1,2,tt1260502,Fri Dec 30 00:00:00 2016,NaN,NaN,Ghost in the Shell 2.0,Feature Film,Mamoru Oshii,7,8.0,83.0,2008,"animation, action, crime, drama, sci_fi",10196,2008-07-12,http://www.imdb.com/title/tt1260502/
2,3,tt0944947,Fri Dec 30 00:00:00 2016,NaN,NaN,Game of Thrones,TV Series,NaN,10,9.5,56.0,2011,"adventure, drama, fantasy, romance",1095188,2011-04-17,http://www.imdb.com/title/tt0944947/
3,4,tt0367594,Fri Dec 30 00:00:00 2016,NaN,NaN,Charlie and the Chocolate Factory,Feature Film,Tim Burton,6,6.7,115.0,2005,"adventure, comedy, family, fantasy",331238,2005-07-10,http://www.imdb.com/title/tt0367594/
4,5,tt0317219,Fri Dec 30 00:00:00 2016,NaN,NaN,Cars,Feature Film,"John Lasseter, Joe Ranft",7,7.2,117.0,2006,"animation, adventure, comedy, family, sport",272829,2006-03-14,http://www.imdb.com/title/tt0317219/

In [49]:
film.Directors.str.contains("Tim Burton")
# Tim Burton varsa true

0      False
1      False
2        NaN
3       True
4      False
       ...
504    False
505    False
506    False
507    False
508    False
Name: Directors, Length: 509, dtype: object

In [54]:
film = film.dropna(subset=['Directors'])
# directordeki nanları sildik

In [55]:
film[film.Directors.str.contains("Tim Burton")]
# sadece tim burtonun old aldık

,Position,Const,Created,Modified,Description,Title,Title type,Directors,You rated,Imdb rating,Runtime (mins),Year,Genres,Num. votes,Release date (month/day/year),Url
3,4,tt0367594,Fri Dec 30 00:00:00 2016,NaN,NaN,Charlie and the Chocolate Factory,Feature Film,Tim Burton,6,6.7,115.0,2005,"adventure, comedy, family, fantasy",331238,2005-07-10,http://www.imdb.com/title/tt0367594/
104,105,tt0319061,Mon Mar 28 00:00:00 2016,NaN,NaN,Big Fish,Feature Film,Tim Burton,6,8.0,125.0,2003,"adventure, drama, fantasy",357318,2003-12-04,http://www.imdb.com/title/tt0319061/
478,479,tt0162661,Sun Jan 4 00:00:00 2015,NaN,NaN,Sleepy Hollow,Feature Film,Tim Burton,6,7.4,105.0,1999,"fantasy, horror, mystery",273671,1999-11-17,http://www.imdb.com/title/tt0162661/