In [1]:
import pandas as pd

In [2]:
vs=pd.read_csv("ca_san_diego_2020_04_01.csv")

In [3]:
vs.head()

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,WHITE
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,LAOTIAN
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Equipment Violation,Citation,HISPANIC

In [5]:
vs.tail(10)

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
383017,128329|216169,NaN,NaN,430,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Moving Violation,Citation|Written Warning,NaN
383018,49032,2014-04-17,NaN,440,NaN,NaN,NaN,vehicular,NaN,NaN,...,NaN,NaN,False,False,False,NaN,NaN,Moving Violation,NaN,NaN
383019,84616,2014-07-11,NaN,510,NaN,NaN,NaN,vehicular,NaN,NaN,...,NaN,NaN,False,False,False,NaN,NaN,Moving Violation,NaN,NaN
383020,12132|146483|163883|164646|183955|230562,NaN,NaN,520,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation|NA|Moving Violation|Moving Vi...,Citation|NA|NA|NA|NA|NA,NaN
383021,29257|74175|87919,NaN,NaN,610,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Equipment Violation|NA,NA|Citation|Written Warning|NA,NaN
383022,22328|23428|25249|37956|58992|60924|62384|1134...,NaN,NaN,620,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Equipment Violation|NA|NA|NA|NA|NA|Moving V...,Verbal Warning|NA|Citation|Citation|NA|NA|NA|C...,NaN
383023,88615|178144,NaN,NaN,710,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Moving Violation,NA|Citation,NaN
383024,141559,2014-12-22,NaN,720,NaN,NaN,NaN,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,NaN
383025,72218|164647,NaN,NaN,810,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation|NA,NaN
383026,35299|35770|37955|51788|68873|131546|150205|16...,NaN,NaN,Unknown,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation|Moving Violation|Moving Viola...,NA|NA|NA|NA|Citation|Citation|NA|Citation|NA|NA,NaN

In [6]:
vs.shape
# satÄ±r and sutun sayÄ±sÄ±

(383027, 21)

In [7]:
vs.dtypes

raw_row_number                   object
date                             object
time                             object
service_area                     object
subject_age                     float64
subject_race                     object
subject_sex                      object
type                             object
arrest_made                      object
citation_issued                  object
warning_issued                   object
outcome                          object
contraband_found                 object
search_conducted                   bool
search_person                    object
search_vehicle                   object
search_basis                     object
reason_for_search                object
reason_for_stop                  object
raw_action_taken                 object
raw_subject_race_description     object
dtype: object

In [8]:
vs.isnull()
# true yazanlar eksik veriler

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383022,False,True,True,False,True,True,True,False,True,False,...,False,True,False,False,False,True,True,False,False,True
383023,False,True,True,False,True,True,True,False,True,False,...,False,True,False,False,False,True,True,False,False,True
383024,False,False,True,False,True,True,True,False,False,False,...,False,True,False,False,False,True,True,False,False,True
383025,False,True,True,False,True,True,True,False,True,False,...,False,True,False,False,False,True,True,False,False,True
383026,False,True,True,False,True,True,True,False,True,False,...,False,True,False,False,False,True,True,False,False,True

In [9]:
vs.isnull().sum()
# her sÃ¼tundaki eksik veri sayÄ±sÄ±

raw_row_number                       0
date                               183
time                               735
service_area                         0
subject_age                      11963
subject_race                      1234
subject_sex                        661
type                                 0
arrest_made                      34743
citation_issued                  31971
warning_issued                   31971
outcome                          39172
contraband_found                366739
search_conducted                     0
search_person                     2190
search_vehicle                    2190
search_basis                    366739
reason_for_search               368749
reason_for_stop                    219
raw_action_taken                 31971
raw_subject_race_description      1234
dtype: int64

In [10]:
vs.date.head()

0    2014-01-01
1    2014-01-01
2    2014-01-01
3    2014-01-01
4    2014-01-01
Name: date, dtype: object

In [11]:
vs.columns

Index(['raw_row_number', 'date', 'time', 'service_area', 'subject_age',
       'subject_race', 'subject_sex', 'type', 'arrest_made', 'citation_issued',
       'warning_issued', 'outcome', 'contraband_found', 'search_conducted',
       'search_person', 'search_vehicle', 'search_basis', 'reason_for_search',
       'reason_for_stop', 'raw_action_taken', 'raw_subject_race_description'],
      dtype='object')

In [12]:
vs["time"].head()

0    01:25:00
1    05:47:00
2    07:46:00
3    08:10:00
4    08:35:00
Name: time, dtype: object

In [13]:
vs[["date","time"]].head()

         date      time
0  2014-01-01  01:25:00
1  2014-01-01  05:47:00
2  2014-01-01  07:46:00
3  2014-01-01  08:10:00
4  2014-01-01  08:35:00

In [15]:
vs.rename(columns={"date":"tarih","time":"zaman"})
# columns name change

,raw_row_number,tarih,zaman,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,WHITE
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,LAOTIAN
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Equipment Violation,Citation,HISPANIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383022,22328|23428|25249|37956|58992|60924|62384|1134...,NaN,NaN,620,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Equipment Violation|NA|NA|NA|NA|NA|Moving V...,Verbal Warning|NA|Citation|Citation|NA|NA|NA|C...,NaN
383023,88615|178144,NaN,NaN,710,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,NA|Moving Violation,NA|Citation,NaN
383024,141559,2014-12-22,NaN,720,NaN,NaN,NaN,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,NaN
383025,72218|164647,NaN,NaN,810,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation|NA,NaN
383026,35299|35770|37955|51788|68873|131546|150205|16...,NaN,NaN,Unknown,NaN,NaN,NaN,vehicular,NaN,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation|Moving Violation|Moving Viola...,NA|NA|NA|NA|Citation|Citation|NA|Citation|NA|NA,NaN

In [18]:
vs.rename(columns={"date":"tarih","time":"zaman"},inplace=True)
# kalÄ±cÄ± deÄŸiÅŸti

In [20]:
vs.head()

,raw_row_number,tarih,zaman,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,WHITE
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,LAOTIAN
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Equipment Violation,Citation,HISPANIC

In [23]:
vs.iloc[0]
# ilk satÄ±rÄ± yazdÄ±rdÄ±k

raw_row_number                                 1
tarih                                 2014-01-01
zaman                                   01:25:00
service_area                                 110
subject_age                                 24.0
subject_race                               white
subject_sex                                 male
type                                   vehicular
arrest_made                                False
citation_issued                             True
warning_issued                             False
outcome                                 citation
contraband_found                             NaN
search_conducted                           False
search_person                              False
search_vehicle                             False
search_basis                                 NaN
reason_for_search                            NaN
reason_for_stop                 Moving Violation
raw_action_taken                        Citation
raw_subject_race_description               WHITE
Name: 0, dtype: object

In [24]:
vs.iloc[0,0]
# birinci satÄ±r birinci sÃ¼tunun kesiÅŸimini yazdÄ±rdÄ±k

'1'

In [25]:
vs.iloc[0,[1,3,5]]
# 0 olan satÄ±r diÄŸerleri sÃ¼tun

tarih           2014-01-01
service_area           110
subject_race         white
Name: 0, dtype: object

In [26]:
vs.iloc[0:5,0:5]
# 5e kadar olan satÄ±r ve sutunlarÄ± yazdÄ±rdÄ±k

  raw_row_number       tarih     zaman service_area  subject_age
0              1  2014-01-01  01:25:00          110         24.0
1              2  2014-01-01  05:47:00          320         42.0
2              3  2014-01-01  07:46:00          320         29.0
3              4  2014-01-01  08:10:00          610         23.0
4              5  2014-01-01  08:35:00          930         35.0

In [27]:
vs.loc[1,"tarih"]

'2014-01-01'

In [28]:
vs.loc[1,"tarih":"type"]
# tarihten type kadarÄ±nÄ± yazdÄ±rdÄ±k

tarih           2014-01-01
zaman             05:47:00
service_area           320
subject_age           42.0
subject_race         white
subject_sex           male
type             vehicular
Name: 1, dtype: object

In [29]:
vs.reason_for_stop.value_counts()
# araÃ§larÄ±n durdurulma sebeplerindeki sayÄ±lar

reason_for_stop
Moving Violation                                                                                                                   279839
Equipment Violation                                                                                                                 97372
Radio Call/Citizen Contact                                                                                                           1886
Muni, County, H&S Code                                                                                                               1291
Personal Knowledge/Informant                                                                                                          860
                                                                                                                                    ...
Equipment Violation|Suspect Info (I.S., Bulletin, Log)                                                                                  1
Bicycle Bicycle                                                                                                                         1
Moving Violation|Personal Observ/Knowledge                                                                                              1
Moving Violation|Moving Violation|Moving Violation|Moving Violation|NA|Moving Violation|Moving Violation|NA                             1
Moving Violation|Moving Violation|Moving Violation|Moving Violation|NA|Moving Violation|NA|NA|Moving Violation|Moving Violation         1
Name: count, Length: 97, dtype: int64

In [30]:
vs[vs.reason_for_stop=="Moving Violation"].subject_sex.value_counts()
# hÄ±z aÅŸÄ±mÄ± yapan kadÄ±n erkek sayÄ±larÄ±

subject_sex
male      175760
female    103587
Name: count, dtype: int64

In [31]:
vs[vs.reason_for_stop=="Moving Violation"].subject_sex.value_counts(normalize=True)
# yÃ¼zde olarak yazdÄ±rdÄ±k

subject_sex
male      0.629182
female    0.370818
Name: proportion, dtype: float64

In [32]:
vs.groupby("subject_sex").reason_for_stop.value_counts(normalize=True)

subject_sex  reason_for_stop
female       Moving Violation                                                                           0.773649
             Equipment Violation                                                                        0.215245
             Radio Call/Citizen Contact                                                                 0.003592
             Muni, County, H&S Code                                                                     0.002495
             Personal Knowledge/Informant                                                               0.001576
                                                                                                          ...
male         Equipment Violation|Moving Violation|Moving Violation|Moving Violation|Moving Violation    0.000004
             Muni, County, H&S Code|Moving Violation                                                    0.000004
             NA|Equipment Violation                                                                     0.000004
             NA|Moving Violation                                                                        0.000004
             Moving Violation|NA|Moving Violation                                                       0.000004
Name: proportion, Length: 105, dtype: float64

In [33]:
vs.tarih.str.slice(0,4)
# 2024312 gibiyse tarih bunu 0,4 sayesinde 2024 olarak alcak

0         2014
1         2014
2         2014
3         2014
4         2014
          ...
383022     NaN
383023     NaN
383024    2014
383025     NaN
383026     NaN
Name: tarih, Length: 383027, dtype: object

In [34]:
vs.tarih.str.slice(0,4).value_counts()

tarih
2014    139359
2015    112736
2016    102607
2017     28142
Name: count, dtype: int64

In [36]:
birles=vs.tarih.str.cat(vs.zaman, sep=" ")
# Bu Python kodu, iki farklÄ± pandas Serisi olan vs.tarih ve vs.zaman'Ä± birleÅŸtirir.
# cat() fonksiyonu, iki Serisi birleÅŸtirmek iÃ§in kullanÄ±lÄ±r.
# Ä°lk argÃ¼man olarak bir Seri alÄ±rken, sep parametresi ise bu Seriler arasÄ±na eklenecek ayÄ±rÄ±cÄ± karakteri belirtir.
# Yani, birles deÄŸiÅŸkeni, vs.tarih ve vs.zaman Serilerini birleÅŸtirir ve aralarÄ±na bir boÅŸluk karakteri (" ") ekler. 
# Ã–rneÄŸin, eÄŸer vs.tarih Serisi "2024-03-21" ve vs.zaman Serisi "15:30:00" ise, birles deÄŸiÅŸkeni "2024-03-21 15:30:00" olacaktÄ±r.

In [37]:
vs["stop_datetime"]=pd.to_datetime(birles)

# Bu Python kodu, bir DataFrame'e (vs) yeni bir sÃ¼tun ekler ve bu sÃ¼tuna belirli bir formatÄ± kullanarak tarih ve zaman bilgisi ekler.
# pd.to_datetime() fonksiyonu, belirli bir tarih/saat formatÄ±ndaki dizeleri pandas'Ä±n datetime nesnelerine dÃ¶nÃ¼ÅŸtÃ¼rmek iÃ§in kullanÄ±lÄ±r.
# Yani, pd.to_datetime(birles) ifadesi, birles deÄŸiÅŸkenindeki diziyi tarih/zaman nesnesine dÃ¶nÃ¼ÅŸtÃ¼rÃ¼r.
# Daha sonra bu dÃ¶nÃ¼ÅŸtÃ¼rÃ¼len deÄŸerler, "stop_datetime" adlÄ± yeni bir sÃ¼tuna atanÄ±r ve DataFrame'e eklenir.
# Ã–zetle, bu kod birles deÄŸiÅŸkenindeki tarih ve zaman bilgisini alÄ±r,
# onlarÄ± datetime nesnelerine dÃ¶nÃ¼ÅŸtÃ¼rÃ¼r ve bu deÄŸerleri vs DataFrame'inde "stop_datetime" adlÄ± bir sÃ¼tuna yerleÅŸtirir.

In [38]:
vs.head()

,raw_row_number,tarih,zaman,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description,stop_datetime
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,...,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE,2014-01-01 01:25:00
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,...,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,WHITE,2014-01-01 05:47:00
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,...,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,LAOTIAN,2014-01-01 07:46:00
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,...,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE,2014-01-01 08:10:00
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,...,NaN,False,False,False,NaN,NaN,Equipment Violation,Citation,HISPANIC,2014-01-01 08:35:00

In [39]:
vs.stop_datetime.dt.year

0         2014.0
1         2014.0
2         2014.0
3         2014.0
4         2014.0
           ...
383022       NaN
383023       NaN
383024       NaN
383025       NaN
383026       NaN
Name: stop_datetime, Length: 383027, dtype: float64

In [40]:
vs.stop_datetime.dt.month

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
383022    NaN
383023    NaN
383024    NaN
383025    NaN
383026    NaN
Name: stop_datetime, Length: 383027, dtype: float64