In [6]:
import pandas as pd ; import numpy as np

In [26]:
df = pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3],[2.4,np.nan]],
                  index= ["a","b","c","d","e"],columns=["bir","iki"])
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3
e  2.40  NaN

In [27]:
df.sum() # sütun toplamları

bir    11.85
iki    -6.70
dtype: float64

In [28]:
df.sum(axis=1) # satırların toplamını verir

a    2.40
b    0.90
c    0.00
d   -0.55
e    2.40
dtype: float64

In [29]:
df.mean() # sütunların ortalaması

bir    2.9625
iki   -3.3500
dtype: float64

In [30]:
df.mean(axis=1) # satır ortalamaları

a    2.400
b    0.450
c      NaN
d   -0.275
e    2.400
dtype: float64

In [31]:
df.mean(axis=1,skipna=False) # satır ortalaması alındı ama o satırda bir tane bile nan varsa hesaplamaz

a      NaN
b    0.450
c      NaN
d   -0.275
e      NaN
dtype: float64

In [32]:
df.idxmax() # hangi satırın hangi sütunundaki max onu söyler

bir    b
iki    d
dtype: object

In [33]:
df.idxmin() # min olanı verir

bir    d
iki    b
dtype: object

In [34]:
df.describe() # özet

            bir       iki
count  4.000000  2.000000
mean   2.962500 -3.350000
std    2.357037  2.899138
min    0.750000 -5.400000
25%    1.987500 -4.375000
50%    2.400000 -3.350000
75%    3.375000 -2.325000
max    6.300000 -1.300000

In [35]:
df.shape #(satır,sütun) yazar

(5, 2)

In [36]:
df.isnull() # nan kısımları true yazar eksik veri veya yanlış veri var demek

     bir    iki
a  False   True
b  False  False
c   True   True
d  False  False
e  False   True

In [37]:
df.isnull().sum() # bir sütununda 1 iki sütununda 2 tane eksik veri var

bir    1
iki    3
dtype: int64

In [38]:
# not tekrar eden veri gereksiz veridir

In [39]:
df.dropna() # eksik olanları kaldırdı

    bir  iki
b  6.30 -5.4
d  0.75 -1.3

In [40]:
df.drop_duplicates() # e kısmı tekrar ediyodu onu kaldırdı

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [42]:
filled_df = df.fillna(0) # nan yazan kısımları sıfır ile doldurdu
filled_df

    bir  iki
a  2.40  0.0
b  6.30 -5.4
c  0.00  0.0
d  0.75 -1.3
e  2.40  0.0

In [43]:
filled_df = df.fillna(df.mean()) # mean ile doldurdu boş kısımları
filled_df

      bir   iki
a  2.4000 -3.35
b  6.3000 -5.40
c  2.9625 -3.35
d  0.7500 -1.30
e  2.4000 -3.35