In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4], index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s.a

1

In [5]:
s2 = s.reindex(["b","c","a","d","e"]) # sırayı değiştirdik
s2

b    2.0
c    3.0
a    1.0
d    4.0
e    NaN
dtype: float64

In [9]:
s3=pd.Series(["lacivert","kırmızı","sarı"], index=[1,3,5])
s3

1    lacivert
3     kırmızı
5        sarı
dtype: object

In [10]:
s3.reindex(range(6), method="ffill") # 0 2 4 6 kısımlarını ekledi

0         NaN
1    lacivert
2    lacivert
3     kırmızı
4     kırmızı
5        sarı
dtype: object

In [11]:
import numpy as np

In [12]:
df = pd.DataFrame(np.arange(9).reshape(3,3), index=["a","b","c"],
                  columns=["ali","efe","can"])
df

   ali  efe  can
a    0    1    2
b    3    4    5
c    6    7    8

In [13]:
df2=df.reindex(["d","c","b","a"])
df2

   ali  efe  can
d  NaN  NaN  NaN
c  6.0  7.0  8.0
b  3.0  4.0  5.0
a  0.0  1.0  2.0

In [14]:
isim = ["efe","nur","ali"]
df.reindex(columns=isim)

   efe  nur  ali
a    1  NaN    0
b    4  NaN    3
c    7  NaN    6

In [18]:
df.loc[["c","b","a"]]

   ali  efe  can
c    6    7    8
b    3    4    5
a    0    1    2

In [19]:
s = pd.Series(np.arange(5), index=["a","b","c","d","e"])
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [20]:
yeni_s = s.drop("b") # sildi
yeni_s

a    0
c    2
d    3
e    4
dtype: int32

In [21]:
x = ["a","c"] # birden fazla satır sildi
s.drop(x)

b    1
d    3
e    4
dtype: int32

In [26]:
veri = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=["ali","can","efe","nur"],
                    columns=list("ABCD"))
veri

      A   B   C   D
ali   0   1   2   3
can   4   5   6   7
efe   8   9  10  11
nur  12  13  14  15

In [27]:
veri.drop(["ali","efe"])

      A   B   C   D
can   4   5   6   7
nur  12  13  14  15

In [29]:
veri.drop("A",axis=1) # satır sütun axis belirt yeter

      B   C   D
ali   1   2   3
can   5   6   7
efe   9  10  11
nur  13  14  15

In [31]:
veri.mean(axis=1) # sütunların ortalaması

ali     1.5
can     5.5
efe     9.5
nur    13.5
dtype: float64

In [36]:
veri.mean(axis=0) # satırların ortalaması

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [37]:
veri.loc["ali"].mean() # istediğimiz satırınkini yazdırdık

1.5